/*
En responsive el menu "quienes somos" no se cierra al activarlo (es por que es #?)
En responsive desaparecen los logos del footer
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1,
h2 {
  font-family: 'Courgette', cursive;
  text-align: justify;
  text-align: center;
}

nav,
h3,
h4,
p {
  font-family: 'Manrope', sans-serif;
}

body {
  background: #fbfbfb;
}

main {
  margin-top: 4vh;
}

/* CSS Menu Navegacion*/

.pegajoso {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  position: relative;
  background: #6d7993;
  height: 100px;
  width: 100%;
  z-index: 1000;
}

.logo {
  color: whitesmoke;
  font-size: 2rem;
  line-height: 5rem;
  margin-left: 1vw;
  font-weight: bold;
  font-family: 'DM Serif Display', serif;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: whitesmoke;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
}

.active:hover {
  color: black;
  background-color: #d5d5d5;
  border-radius: 6px;
  transition: 0.3s;
}

.checkbtn {
  font-size: 30px;
  color: whitesmoke;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width:950px) {
  label .logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width:850px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #6d7993;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a .active {
    background: none;
    color: #6d7993
  }

  #check:checked~ul {
    left: 0;
  }

}

/* CSS Menu Navegacion */

/* CSS Footer */


footer {
  background: rgb(123, 124, 125);
  height: auto;
  width: 100%;
  padding-top: 30px;
  color: aliceblue;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h4 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 15px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials a i {
  font-size: 1.8rem;
}

.socials a:hover i {
  color: black;
}

.footer-bottom {
  background: rgb(76, 75, 75);
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

/* CSS Footer */

/* CSS Inicio */

.nota {
  margin: 2vmin;
  border-radius: 6px;
  overflow: hidden;
  cursor: default;
  transition: all 400ms ease;
  background: #e8e2e2;
}

.nota:hover {
  transform: translateY(-6%);
}

.nota .contenido {
  padding: 15px;
  text-align: center;
}

.nota .contenido p {
  line-height: 1.5;
  color: black;
}

.nota .contenido>h3 {
  font-weight: 500;
  margin-bottom: 10px;
  background-color: #a6c6e7a8;
  color: white;
  font-size: 25px;
}

/* CSS Inicio */

/* CSS FLEX Inicio */

.cajaflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lateral {
  position: relative;
  margin: 2vmin;
  background-color: #e8e2e2;
  border-radius: 6px;
  max-width: 1000px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #a6c6e7a8;
  flex: 1;
}

.lateral .contenido {
  padding: 10px;
  text-align: center;
}

.lateral .contenido p {
  line-height: 1.5;
  color: black;
  text-align: justify;
  padding-bottom: 10px;
}

.lateral .contenido>h3 {
  font-weight: 500;
  margin-bottom: 10px;
  background-color: #a6c6e7a8;
  color: white;
  font-size: 25px;
}

/* CSS FLEX Inicio */

/* CSS carrusel inicio */

.slide {
  position: relative;
  margin: 2vmin;
  background-color: #e8e2e2;
  border-radius: 6px;
  max-width: 1000px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #a6c6e7a8;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide-open:checked+.slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  display: block;
  height: auto;
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 5px 1px 5px hsla(0, 0%, 50%, .5);
}

.slide-item figure .capaslide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(119, 107, 107, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.slide-item figure:hover>.capaslide {
  opacity: 1;
  visibility: visible;
}

.slide-item figure:hover>.capaslide .main-textoslide {
  margin-top: 70px;
  margin-bottom: 15px;
}

.slide-item figure .capaslide .main-textoslide {
  font-family: 'Courgette', cursive;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 7vw;
  transition: all 500ms ease-out;

}

.slide-control {
  background: rgba(255, 165, 0, 0.5);
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(255, 165, 0, 1);
  color: bisque;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3,
#slide-4:checked~.control-4 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: bisque;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

#diapositivas>.slide-circulo:hover {
  color: orange;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo,
#slide-4:checked~.control-4~.slide-indicador li:nth-child(4) .slide-circulo {
  color: orange;
}

/* CSS carrusel inicio */

/* CSS cocktail*/
.cuerpo {
  margin: 30px;
}

.contenedor1 {
  width: 100%;
  margin: 5% auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);

}

.contenedor1 figure {
  position: relative;
  height: 350px;
  width: 450px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
  cursor: pointer;

}

.contenedor1 figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;

}

.contenedor1 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 103, 123, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor1 figure:hover>.capa {
  opacity: 1;
  visibility: visible;
}

.contenedor1 figure:hover>.capa h2 {
  margin-top: 70px;
  margin-bottom: 15px;
}

.contenedor1 figure .capa h2 {
  color: darkgray;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 10px;
}

.contenedor1 figure .capa ul {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

.contenedor1,
.div {
  width: 100%;
  margin-top: 250px;
  /*background-color: #515b6f;*/
}

.contenedor1 h1 {
  font-family: serif;
  font-size: x-large;
  background-color: rgb(226, 199, 166);
  text-align: center;
  text-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
  box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
  border-radius: 50px;
  overflow: hidden;

}


@media screen and (max-width :1300px) {
  .contenedor1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .contenedor1 h1 {
    width: 76%;
  }

  .div {
    justify-items: end;
  }

}


@media screen and (max-width :975px) {
  .contenedor1 {
    display: grid;
    grid-gap: 95px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 15% auto;
  }

  .contenedor1 figure .capa ul {}

  .contenedor1 h1 {
    width: 100%;
  }

  .contenedor1 .div:nth-child(1) {
    order: 1;

  }

  .contenedor1 .figure:nth-child(2) {
    order: 1;
  }

  .contenedor1 .figure:nth-child(3) {
    order: 4;

  }

  .contenedor1 .div:nth-child(4) {
    order: 3;

  }
}

@media screen and (max-width :750px) {
  .contenedor1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 5% auto;
  }

  .contenedor1 h1 {
    width: 100%;
  }

  .contenedor1 .div:nth-child(1) {
    order: 2;
    margin-top: 10%;
  }

  .contenedor1 .figure:nth-child(2) {
    order: 1;
  }

  .contenedor1 .figure:nth-child(3) {
    order: 3;

  }

  .contenedor1 .div:nth-child(4) {
    order: 4;
    margin-top: 10%;
  }
}

/* CSS cocktail*/

/* CSS Food */
.lines-effect {
  font-size: 5.3vmin;
  color: #515b6f;
  text-align: center;
}

.parrafo-food p {
  text-align: center;
  font-size: 22px;
  font-stretch: semi-condensed;
  color: black;
}

.contenedor-servicios {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: .5rem;
  row-gap: .5rem;
  justify-content: center;
  align-content: center;
}

.carta {
  width: 93%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #e8e2e2;
  cursor: default;
  transition: all 400ms ease;
}

.carta:hover {
  transform: translateY(-6%);
}

.carta img {
  max-width: 100%;
  height: auto;
}

.carta .contenido {
  padding: 15px;
  text-align: center;
}

.carta .contenido p {
  line-height: 1.5;
  color: black;
}

.carta .contenido>h3 {
  font-weight: 500;
  margin-bottom: 10px;
  background-color: #a6c6e7a8;
  color: white;
  font-size: 25px;
}

@media screen and (max-width:767px) {
  .contenedor-servicios {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .contenedor-servicios {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media screen and (min-width: 1024px) {
  .contenedor-servicios {
    grid-template-columns: repeat(4, 1fr);
  }
}

.imagen-food {
  width: 100%;
}

.imagen-food img {
  width: 90%;
  border-radius: 5px;
  transition: all 500mS ease;
}

.imagen-food h3 {
  text-align: center;
}

.galeria-food {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .6rem;
  row-gap: .6rem;
}

.imagen-food {
  position: relative;
  overflow: hidden;
  transition: all 500mS ease;

}

.imagen-food:hover {
  transform: translateY(-3%)
}

@media screen and (max-width:765px) {
  .galeria-food {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width:768px) {
  .galeria-food {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media screen and (min-width: 1024px) {
  .galeria-food {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* CSS Food */

/* CSS Formulario contactenos */

.formulario {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.formulario h2 {
  margin-bottom: 15px;
  font-size: 30px
}

.formulario p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

.h2-formulario,
.p-formulario {
  background-color: rgb(239, 231, 221);
  box-shadow: 5px 1px 5px rgba(239, 231, 221, 0.5);
  border-radius: 5px;
}

.formulario a {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.formulario a i {
  color: rgb(232, 140, 26);
  margin-right: 10px;
}

.formulario .campo,
textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: 0px;
}

.formulario textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.formulario .btn-enviar {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: 0px;
  background-color: burlywood;
  color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: 5px 1px 5px rgba(2225, 184, 135, 0.5);
}

.formulario .btn-enviar:hover {
  background-color: orange;
  box-shadow: 5px 1px 5px rgba(255, 165, 0, 0.5);
}

@media screen and (max-width:850px) {
  .formulario {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width:855px) {
  .formulario {
    grid-template-columns: repeat(2, 1fr)
  }
}

/* CSS Formulario contactenos */
